.radio-inline input[type=radio]{
    display: none;
}

.radio-inline input[type=radio]+ span{
  border: 1px solid #565254;
    line-height: 1.0em;
    padding: .9vh 0.4vw;
    margin-bottom: 2vh;
    background: #f7f7f7;
    color: black;
    width: 100%;
  }
.radio-inline input[type=radio]:checked + span{
  background: #DCDCDC;
  color: black;
}